USE [MotorcycleShopDB]
GO
BEGIN TRANSACTION
GO
SET IDENTITY_INSERT Products OFF;
SET IDENTITY_INSERT ProductVariants OFF;
SET IDENTITY_INSERT ProductImages OFF;
GO
-- Pre-insert Attributes if they don't exist
IF NOT EXISTS (SELECT 1 FROM ProductAttributes WHERE AttributeName = N'Chiều dài') INSERT INTO ProductAttributes (AttributeName) VALUES (N'Chiều dài');
IF NOT EXISTS (SELECT 1 FROM ProductAttributes WHERE AttributeName = N'Dung lượng') INSERT INTO ProductAttributes (AttributeName) VALUES (N'Dung lượng');
IF NOT EXISTS (SELECT 1 FROM ProductAttributes WHERE AttributeName = N'Dung tích') INSERT INTO ProductAttributes (AttributeName) VALUES (N'Dung tích');
IF NOT EXISTS (SELECT 1 FROM ProductAttributes WHERE AttributeName = N'Kích thước') INSERT INTO ProductAttributes (AttributeName) VALUES (N'Kích thước');
IF NOT EXISTS (SELECT 1 FROM ProductAttributes WHERE AttributeName = N'Loại xe') INSERT INTO ProductAttributes (AttributeName) VALUES (N'Loại xe');
IF NOT EXISTS (SELECT 1 FROM ProductAttributes WHERE AttributeName = N'Màu sắc') INSERT INTO ProductAttributes (AttributeName) VALUES (N'Màu sắc');
IF NOT EXISTS (SELECT 1 FROM ProductAttributes WHERE AttributeName = N'Phiên bản') INSERT INTO ProductAttributes (AttributeName) VALUES (N'Phiên bản');
IF NOT EXISTS (SELECT 1 FROM ProductAttributes WHERE AttributeName = N'Thông số') INSERT INTO ProductAttributes (AttributeName) VALUES (N'Thông số');
IF NOT EXISTS (SELECT 1 FROM ProductAttributes WHERE AttributeName = N'Trọng lượng') INSERT INTO ProductAttributes (AttributeName) VALUES (N'Trọng lượng');
IF NOT EXISTS (SELECT 1 FROM ProductAttributes WHERE AttributeName = N'Vị trí') INSERT INTO ProductAttributes (AttributeName) VALUES (N'Vị trí');
GO
-- Product: Bộ nồi trước/sau Apido chuyên dụng
DECLARE @Pid INT, @Vid INT, @Aid INT, @Valid INT;
SET @Pid = SCOPE_IDENTITY();
INSERT INTO ProductImages (ProductId, ImageUrl, IsPrimary, DisplayOrder) VALUES (@Pid, N'https://motobatt.com/image/cache/product_1.jpg', 1, 0);
INSERT INTO ProductImages (ProductId, ImageUrl, IsPrimary, DisplayOrder) VALUES (@Pid, N'https://motobatt.com/image/cache/extra_1_0.jpg', 0, 1);
INSERT INTO ProductImages (ProductId, ImageUrl, IsPrimary, DisplayOrder) VALUES (@Pid, N'https://faito.com.vn/wp-content/uploads/extra_1_1.jpg', 0, 2);
INSERT INTO ProductVariants (ProductId, SKU, VariantName, Price, OriginalPrice, StockQuantity, ImageUrl, CreatedDate)
VALUES (@Pid, N'API-BỘ 1-9G', N'9g', 892240.0, 1159000.0, 39, N'https://motobatt.com/image/cache/product_1.jpg', GETDATE());
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Trọng lượng');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'9g') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'9g');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'9g');
INSERT INTO ProductVariantAttributeValue (ProductVariantId, ValueId) VALUES (@Vid, @Valid);
INSERT INTO ProductVariants (ProductId, SKU, VariantName, Price, OriginalPrice, StockQuantity, ImageUrl, CreatedDate)
VALUES (@Pid, N'API-BỘ 1-11G', N'11g', 866265.0, 1159000.0, 45, N'https://motobatt.com/image/cache/product_1.jpg', GETDATE());
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Trọng lượng');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'11g') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'11g');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'11g');
INSERT INTO ProductVariantAttributeValue (ProductVariantId, ValueId) VALUES (@Vid, @Valid);
INSERT INTO ProductVariants (ProductId, SKU, VariantName, Price, OriginalPrice, StockQuantity, ImageUrl, CreatedDate)
VALUES (@Pid, N'API-BỘ 1-13G', N'13g', 865246.0, 1159000.0, 23, N'https://motobatt.com/image/cache/product_1.jpg', GETDATE());
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Trọng lượng');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'13g') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'13g');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'13g');
INSERT INTO ProductVariantAttributeValue (ProductVariantId, ValueId) VALUES (@Vid, @Valid);
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Trọng lượng');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'15g') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'15g');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'15g');
GO
-- Product: Bộ nồi trước/sau Malossi chuyên dụng
DECLARE @Pid INT, @Vid INT, @Aid INT, @Valid INT;
SET @Pid = SCOPE_IDENTITY();
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Trọng lượng');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'9g') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'9g');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'9g');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Trọng lượng');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'11g') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'11g');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'11g');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Trọng lượng');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'13g') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'13g');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'13g');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Trọng lượng');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'15g') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'15g');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'15g');
GO
-- Product: Bộ nồi trước/sau Apido chuyên dụng
DECLARE @Pid INT, @Vid INT, @Aid INT, @Valid INT;
SET @Pid = SCOPE_IDENTITY();
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Trọng lượng');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'9g') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'9g');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'9g');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Trọng lượng');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'11g') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'11g');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'11g');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Trọng lượng');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'13g') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'13g');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'13g');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Trọng lượng');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'15g') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'15g');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'15g');
GO
-- Product: Bộ nồi trước/sau Faito chuyên dụng
DECLARE @Pid INT, @Vid INT, @Aid INT, @Valid INT;
SET @Pid = SCOPE_IDENTITY();
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Trọng lượng');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'9g') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'9g');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'9g');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Trọng lượng');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'11g') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'11g');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'11g');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Trọng lượng');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'13g') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'13g');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'13g');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Trọng lượng');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'15g') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'15g');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'15g');
GO
-- Product: Bộ nồi trước/sau Apido chuyên dụng
DECLARE @Pid INT, @Vid INT, @Aid INT, @Valid INT;
SET @Pid = SCOPE_IDENTITY();
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Trọng lượng');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'9g') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'9g');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'9g');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Trọng lượng');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'11g') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'11g');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'11g');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Trọng lượng');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'13g') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'13g');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'13g');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Trọng lượng');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'15g') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'15g');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'15g');
GO
-- Product: Bộ Nhông Sên Dĩa MTX High Performance
DECLARE @Pid INT, @Vid INT, @Aid INT, @Valid INT;
SET @Pid = SCOPE_IDENTITY();
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Thông số');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'42T') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'42T');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'42T');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Thông số');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'43T') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'43T');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'43T');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Thông số');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'44T') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'44T');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'44T');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Thông số');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'45T') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'45T');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'45T');
GO
-- Product: Bộ Nhông Sên Dĩa Apido High Performance
DECLARE @Pid INT, @Vid INT, @Aid INT, @Valid INT;
SET @Pid = SCOPE_IDENTITY();
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Thông số');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'42T') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'42T');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'42T');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Thông số');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'43T') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'43T');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'43T');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Thông số');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'44T') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'44T');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'44T');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Thông số');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'45T') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'45T');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'45T');
GO
-- Product: Bộ Nhông Sên Dĩa MTX High Performance
DECLARE @Pid INT, @Vid INT, @Aid INT, @Valid INT;
SET @Pid = SCOPE_IDENTITY();
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Thông số');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'42T') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'42T');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'42T');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Thông số');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'43T') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'43T');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'43T');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Thông số');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'44T') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'44T');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'44T');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Thông số');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'45T') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'45T');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'45T');
GO
-- Product: Bộ Nhông Sên Dĩa RGV High Performance
DECLARE @Pid INT, @Vid INT, @Aid INT, @Valid INT;
SET @Pid = SCOPE_IDENTITY();
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Thông số');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'42T') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'42T');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'42T');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Thông số');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'43T') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'43T');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'43T');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Thông số');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'44T') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'44T');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'44T');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Thông số');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'45T') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'45T');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'45T');
GO
-- Product: Bộ Nhông Sên Dĩa Apido High Performance
DECLARE @Pid INT, @Vid INT, @Aid INT, @Valid INT;
SET @Pid = SCOPE_IDENTITY();
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Thông số');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'42T') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'42T');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'42T');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Thông số');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'43T') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'43T');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'43T');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Thông số');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'44T') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'44T');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'44T');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Thông số');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'45T') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'45T');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'45T');
GO
-- Product: Căm xe máy Yaguso mạ Crom/Vàng
DECLARE @Pid INT, @Vid INT, @Aid INT, @Valid INT;
SET @Pid = SCOPE_IDENTITY();
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Kích thước');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'9x157') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'9x157');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'9x157');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Kích thước');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'9x184') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'9x184');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'9x184');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Kích thước');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'10x157') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'10x157');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'10x157');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Kích thước');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'10x184') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'10x184');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'10x184');
GO
-- Product: Căm xe máy Yaguso mạ Crom/Vàng
DECLARE @Pid INT, @Vid INT, @Aid INT, @Valid INT;
SET @Pid = SCOPE_IDENTITY();
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Kích thước');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'9x157') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'9x157');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'9x157');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Kích thước');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'9x184') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'9x184');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'9x184');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Kích thước');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'10x157') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'10x157');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'10x157');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Kích thước');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'10x184') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'10x184');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'10x184');
GO
-- Product: Căm xe máy RGV mạ Crom/Vàng
DECLARE @Pid INT, @Vid INT, @Aid INT, @Valid INT;
SET @Pid = SCOPE_IDENTITY();
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Kích thước');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'9x157') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'9x157');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'9x157');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Kích thước');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'9x184') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'9x184');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'9x184');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Kích thước');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'10x157') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'10x157');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'10x157');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Kích thước');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'10x184') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'10x184');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'10x184');
GO
-- Product: Căm xe máy RGV mạ Crom/Vàng
DECLARE @Pid INT, @Vid INT, @Aid INT, @Valid INT;
SET @Pid = SCOPE_IDENTITY();
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Kích thước');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'9x157') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'9x157');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'9x157');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Kích thước');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'9x184') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'9x184');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'9x184');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Kích thước');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'10x157') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'10x157');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'10x157');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Kích thước');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'10x184') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'10x184');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'10x184');
GO
-- Product: Căm xe máy Tan Lan mạ Crom/Vàng
DECLARE @Pid INT, @Vid INT, @Aid INT, @Valid INT;
SET @Pid = SCOPE_IDENTITY();
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Kích thước');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'9x157') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'9x157');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'9x157');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Kích thước');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'9x184') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'9x184');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'9x184');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Kích thước');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'10x157') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'10x157');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'10x157');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Kích thước');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'10x184') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'10x184');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'10x184');
GO
-- Product: Bình ắc quy Gel Senarc siêu bền
DECLARE @Pid INT, @Vid INT, @Aid INT, @Valid INT;
SET @Pid = SCOPE_IDENTITY();
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Dung lượng');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'5Ah') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'5Ah');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'5Ah');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Dung lượng');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'6Ah') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'6Ah');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'6Ah');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Dung lượng');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'7Ah') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'7Ah');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'7Ah');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Dung lượng');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'9Ah') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'9Ah');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'9Ah');
GO
-- Product: Bình ắc quy Gel Motobatt siêu bền
DECLARE @Pid INT, @Vid INT, @Aid INT, @Valid INT;
SET @Pid = SCOPE_IDENTITY();
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Dung lượng');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'5Ah') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'5Ah');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'5Ah');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Dung lượng');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'6Ah') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'6Ah');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'6Ah');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Dung lượng');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'7Ah') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'7Ah');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'7Ah');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Dung lượng');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'9Ah') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'9Ah');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'9Ah');
GO
-- Product: Bình ắc quy Gel Motobatt siêu bền
DECLARE @Pid INT, @Vid INT, @Aid INT, @Valid INT;
SET @Pid = SCOPE_IDENTITY();
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Dung lượng');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'5Ah') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'5Ah');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'5Ah');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Dung lượng');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'6Ah') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'6Ah');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'6Ah');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Dung lượng');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'7Ah') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'7Ah');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'7Ah');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Dung lượng');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'9Ah') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'9Ah');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'9Ah');
GO
-- Product: Bình ắc quy Gel Motobatt siêu bền
DECLARE @Pid INT, @Vid INT, @Aid INT, @Valid INT;
SET @Pid = SCOPE_IDENTITY();
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Dung lượng');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'5Ah') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'5Ah');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'5Ah');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Dung lượng');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'6Ah') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'6Ah');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'6Ah');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Dung lượng');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'7Ah') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'7Ah');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'7Ah');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Dung lượng');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'9Ah') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'9Ah');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'9Ah');
GO
-- Product: Bình ắc quy Gel Senarc siêu bền
DECLARE @Pid INT, @Vid INT, @Aid INT, @Valid INT;
SET @Pid = SCOPE_IDENTITY();
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Dung lượng');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'5Ah') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'5Ah');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'5Ah');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Dung lượng');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'6Ah') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'6Ah');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'6Ah');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Dung lượng');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'7Ah') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'7Ah');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'7Ah');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Dung lượng');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'9Ah') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'9Ah');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'9Ah');
GO
-- Product: Lọc gió độ Malossi tăng lưu lượng khí
DECLARE @Pid INT, @Vid INT, @Aid INT, @Valid INT;
SET @Pid = SCOPE_IDENTITY();
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Loại xe');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Vario/Click') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'Vario/Click');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Vario/Click');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Loại xe');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Airblade') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'Airblade');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Airblade');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Loại xe');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'SHVN') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'SHVN');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'SHVN');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Loại xe');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Exciter') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'Exciter');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Exciter');
GO
-- Product: Lọc gió độ Kozi tăng lưu lượng khí
DECLARE @Pid INT, @Vid INT, @Aid INT, @Valid INT;
SET @Pid = SCOPE_IDENTITY();
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Loại xe');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Vario/Click') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'Vario/Click');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Vario/Click');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Loại xe');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Airblade') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'Airblade');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Airblade');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Loại xe');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'SHVN') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'SHVN');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'SHVN');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Loại xe');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Exciter') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'Exciter');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Exciter');
GO
-- Product: Lọc gió độ Kozi tăng lưu lượng khí
DECLARE @Pid INT, @Vid INT, @Aid INT, @Valid INT;
SET @Pid = SCOPE_IDENTITY();
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Loại xe');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Vario/Click') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'Vario/Click');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Vario/Click');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Loại xe');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Airblade') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'Airblade');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Airblade');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Loại xe');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'SHVN') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'SHVN');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'SHVN');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Loại xe');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Exciter') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'Exciter');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Exciter');
GO
-- Product: Lọc gió độ Faito tăng lưu lượng khí
DECLARE @Pid INT, @Vid INT, @Aid INT, @Valid INT;
SET @Pid = SCOPE_IDENTITY();
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Loại xe');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Vario/Click') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'Vario/Click');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Vario/Click');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Loại xe');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Airblade') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'Airblade');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Airblade');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Loại xe');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'SHVN') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'SHVN');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'SHVN');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Loại xe');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Exciter') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'Exciter');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Exciter');
GO
-- Product: Lọc gió độ Malossi tăng lưu lượng khí
DECLARE @Pid INT, @Vid INT, @Aid INT, @Valid INT;
SET @Pid = SCOPE_IDENTITY();
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Loại xe');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Vario/Click') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'Vario/Click');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Vario/Click');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Loại xe');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Airblade') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'Airblade');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Airblade');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Loại xe');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'SHVN') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'SHVN');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'SHVN');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Loại xe');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Exciter') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'Exciter');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Exciter');
GO
-- Product: Nhớt tổng hợp RGV Racing
DECLARE @Pid INT, @Vid INT, @Aid INT, @Valid INT;
SET @Pid = SCOPE_IDENTITY();
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Dung tích');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'0.8L') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'0.8L');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'0.8L');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Dung tích');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'1L') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'1L');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'1L');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Dung tích');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'1.1L') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'1.1L');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'1.1L');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Dung tích');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'1.2L') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'1.2L');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'1.2L');
GO
-- Product: Nhớt tổng hợp Faito Racing
DECLARE @Pid INT, @Vid INT, @Aid INT, @Valid INT;
SET @Pid = SCOPE_IDENTITY();
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Dung tích');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'0.8L') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'0.8L');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'0.8L');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Dung tích');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'1L') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'1L');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'1L');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Dung tích');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'1.1L') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'1.1L');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'1.1L');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Dung tích');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'1.2L') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'1.2L');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'1.2L');
GO
-- Product: Nhớt tổng hợp Malossi Racing
DECLARE @Pid INT, @Vid INT, @Aid INT, @Valid INT;
SET @Pid = SCOPE_IDENTITY();
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Dung tích');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'0.8L') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'0.8L');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'0.8L');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Dung tích');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'1L') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'1L');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'1L');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Dung tích');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'1.1L') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'1.1L');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'1.1L');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Dung tích');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'1.2L') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'1.2L');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'1.2L');
GO
-- Product: Nhớt tổng hợp RGV Racing
DECLARE @Pid INT, @Vid INT, @Aid INT, @Valid INT;
SET @Pid = SCOPE_IDENTITY();
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Dung tích');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'0.8L') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'0.8L');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'0.8L');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Dung tích');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'1L') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'1L');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'1L');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Dung tích');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'1.1L') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'1.1L');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'1.1L');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Dung tích');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'1.2L') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'1.2L');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'1.2L');
GO
-- Product: Nhớt tổng hợp RGV Racing
DECLARE @Pid INT, @Vid INT, @Aid INT, @Valid INT;
SET @Pid = SCOPE_IDENTITY();
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Dung tích');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'0.8L') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'0.8L');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'0.8L');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Dung tích');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'1L') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'1L');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'1L');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Dung tích');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'1.1L') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'1.1L');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'1.1L');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Dung tích');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'1.2L') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'1.2L');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'1.2L');
GO
-- Product: Bố thắng Ceramic Apido chịu nhiệt
DECLARE @Pid INT, @Vid INT, @Aid INT, @Valid INT;
SET @Pid = SCOPE_IDENTITY();
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Vị trí');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Trước (Front)') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'Trước (Front)');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Trước (Front)');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Vị trí');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Sau (Rear)') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'Sau (Rear)');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Sau (Rear)');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Vị trí');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Cả bộ (Full Set)') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'Cả bộ (Full Set)');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Cả bộ (Full Set)');
GO
-- Product: Bố thắng Ceramic RGV chịu nhiệt
DECLARE @Pid INT, @Vid INT, @Aid INT, @Valid INT;
SET @Pid = SCOPE_IDENTITY();
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Vị trí');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Trước (Front)') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'Trước (Front)');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Trước (Front)');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Vị trí');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Sau (Rear)') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'Sau (Rear)');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Sau (Rear)');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Vị trí');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Cả bộ (Full Set)') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'Cả bộ (Full Set)');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Cả bộ (Full Set)');
GO
-- Product: Bố thắng Ceramic Faito chịu nhiệt
DECLARE @Pid INT, @Vid INT, @Aid INT, @Valid INT;
SET @Pid = SCOPE_IDENTITY();
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Vị trí');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Trước (Front)') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'Trước (Front)');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Trước (Front)');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Vị trí');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Sau (Rear)') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'Sau (Rear)');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Sau (Rear)');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Vị trí');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Cả bộ (Full Set)') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'Cả bộ (Full Set)');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Cả bộ (Full Set)');
GO
-- Product: Bố thắng Ceramic Faito chịu nhiệt
DECLARE @Pid INT, @Vid INT, @Aid INT, @Valid INT;
SET @Pid = SCOPE_IDENTITY();
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Vị trí');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Trước (Front)') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'Trước (Front)');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Trước (Front)');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Vị trí');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Sau (Rear)') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'Sau (Rear)');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Sau (Rear)');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Vị trí');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Cả bộ (Full Set)') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'Cả bộ (Full Set)');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Cả bộ (Full Set)');
GO
-- Product: Bố thắng Ceramic MTX chịu nhiệt
DECLARE @Pid INT, @Vid INT, @Aid INT, @Valid INT;
SET @Pid = SCOPE_IDENTITY();
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Vị trí');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Trước (Front)') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'Trước (Front)');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Trước (Front)');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Vị trí');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Sau (Rear)') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'Sau (Rear)');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Sau (Rear)');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Vị trí');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Cả bộ (Full Set)') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'Cả bộ (Full Set)');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Cả bộ (Full Set)');
GO
-- Product: Vỏ xe không ruột TR Tiller bám đường
DECLARE @Pid INT, @Vid INT, @Aid INT, @Valid INT;
SET @Pid = SCOPE_IDENTITY();
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Kích thước');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'70/90-17') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'70/90-17');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'70/90-17');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Kích thước');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'80/90-17') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'80/90-17');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'80/90-17');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Kích thước');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'90/80-17') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'90/80-17');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'90/80-17');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Kích thước');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'100/80-17') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'100/80-17');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'100/80-17');
GO
-- Product: Vỏ xe không ruột FKR bám đường
DECLARE @Pid INT, @Vid INT, @Aid INT, @Valid INT;
SET @Pid = SCOPE_IDENTITY();
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Kích thước');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'70/90-17') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'70/90-17');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'70/90-17');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Kích thước');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'80/90-17') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'80/90-17');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'80/90-17');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Kích thước');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'90/80-17') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'90/80-17');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'90/80-17');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Kích thước');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'100/80-17') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'100/80-17');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'100/80-17');
GO
-- Product: Vỏ xe không ruột FKR bám đường
DECLARE @Pid INT, @Vid INT, @Aid INT, @Valid INT;
SET @Pid = SCOPE_IDENTITY();
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Kích thước');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'70/90-17') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'70/90-17');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'70/90-17');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Kích thước');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'80/90-17') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'80/90-17');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'80/90-17');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Kích thước');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'90/80-17') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'90/80-17');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'90/80-17');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Kích thước');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'100/80-17') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'100/80-17');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'100/80-17');
GO
-- Product: Vỏ xe không ruột TR Tiller bám đường
DECLARE @Pid INT, @Vid INT, @Aid INT, @Valid INT;
SET @Pid = SCOPE_IDENTITY();
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Kích thước');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'70/90-17') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'70/90-17');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'70/90-17');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Kích thước');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'80/90-17') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'80/90-17');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'80/90-17');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Kích thước');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'90/80-17') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'90/80-17');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'90/80-17');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Kích thước');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'100/80-17') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'100/80-17');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'100/80-17');
GO
-- Product: Vỏ xe không ruột TR Tiller bám đường
DECLARE @Pid INT, @Vid INT, @Aid INT, @Valid INT;
SET @Pid = SCOPE_IDENTITY();
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Kích thước');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'70/90-17') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'70/90-17');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'70/90-17');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Kích thước');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'80/90-17') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'80/90-17');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'80/90-17');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Kích thước');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'90/80-17') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'90/80-17');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'90/80-17');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Kích thước');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'100/80-17') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'100/80-17');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'100/80-17');
GO
-- Product: Dây ga/Dây côn Apido bọc Teflon
DECLARE @Pid INT, @Vid INT, @Aid INT, @Valid INT;
SET @Pid = SCOPE_IDENTITY();
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Chiều dài');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Tiêu chuẩn') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'Tiêu chuẩn');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Tiêu chuẩn');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Chiều dài');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Dài hơn 5cm') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'Dài hơn 5cm');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Dài hơn 5cm');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Chiều dài');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Dài hơn 10cm') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'Dài hơn 10cm');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Dài hơn 10cm');
GO
-- Product: Dây ga/Dây côn Kozi bọc Teflon
DECLARE @Pid INT, @Vid INT, @Aid INT, @Valid INT;
SET @Pid = SCOPE_IDENTITY();
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Chiều dài');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Tiêu chuẩn') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'Tiêu chuẩn');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Tiêu chuẩn');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Chiều dài');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Dài hơn 5cm') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'Dài hơn 5cm');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Dài hơn 5cm');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Chiều dài');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Dài hơn 10cm') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'Dài hơn 10cm');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Dài hơn 10cm');
GO
-- Product: Dây ga/Dây côn Apido bọc Teflon
DECLARE @Pid INT, @Vid INT, @Aid INT, @Valid INT;
SET @Pid = SCOPE_IDENTITY();
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Chiều dài');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Tiêu chuẩn') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'Tiêu chuẩn');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Tiêu chuẩn');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Chiều dài');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Dài hơn 5cm') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'Dài hơn 5cm');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Dài hơn 5cm');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Chiều dài');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Dài hơn 10cm') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'Dài hơn 10cm');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Dài hơn 10cm');
GO
-- Product: Dây ga/Dây côn RGV bọc Teflon
DECLARE @Pid INT, @Vid INT, @Aid INT, @Valid INT;
SET @Pid = SCOPE_IDENTITY();
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Chiều dài');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Tiêu chuẩn') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'Tiêu chuẩn');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Tiêu chuẩn');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Chiều dài');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Dài hơn 5cm') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'Dài hơn 5cm');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Dài hơn 5cm');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Chiều dài');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Dài hơn 10cm') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'Dài hơn 10cm');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Dài hơn 10cm');
GO
-- Product: Dây ga/Dây côn Kozi bọc Teflon
DECLARE @Pid INT, @Vid INT, @Aid INT, @Valid INT;
SET @Pid = SCOPE_IDENTITY();
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Chiều dài');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Tiêu chuẩn') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'Tiêu chuẩn');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Tiêu chuẩn');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Chiều dài');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Dài hơn 5cm') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'Dài hơn 5cm');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Dài hơn 5cm');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Chiều dài');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Dài hơn 10cm') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'Dài hơn 10cm');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Dài hơn 10cm');
GO
-- Product: Phuộc/Pô YSS cho xe PKL
DECLARE @Pid INT, @Vid INT, @Aid INT, @Valid INT;
SET @Pid = SCOPE_IDENTITY();
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Phiên bản');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Standard') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'Standard');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Standard');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Phiên bản');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Racing') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'Racing');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Racing');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Phiên bản');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Limited Edition') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'Limited Edition');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Limited Edition');
GO
-- Product: Phuộc/Pô YSS cho xe PKL
DECLARE @Pid INT, @Vid INT, @Aid INT, @Valid INT;
SET @Pid = SCOPE_IDENTITY();
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Phiên bản');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Standard') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'Standard');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Standard');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Phiên bản');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Racing') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'Racing');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Racing');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Phiên bản');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Limited Edition') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'Limited Edition');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Limited Edition');
GO
-- Product: Phuộc/Pô Malossi cho xe PKL
DECLARE @Pid INT, @Vid INT, @Aid INT, @Valid INT;
SET @Pid = SCOPE_IDENTITY();
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Phiên bản');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Standard') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'Standard');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Standard');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Phiên bản');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Racing') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'Racing');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Racing');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Phiên bản');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Limited Edition') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'Limited Edition');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Limited Edition');
GO
-- Product: Phuộc/Pô YSS cho xe PKL
DECLARE @Pid INT, @Vid INT, @Aid INT, @Valid INT;
SET @Pid = SCOPE_IDENTITY();
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Phiên bản');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Standard') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'Standard');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Standard');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Phiên bản');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Racing') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'Racing');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Racing');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Phiên bản');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Limited Edition') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'Limited Edition');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Limited Edition');
GO
-- Product: Phuộc/Pô CRG cho xe PKL
DECLARE @Pid INT, @Vid INT, @Aid INT, @Valid INT;
SET @Pid = SCOPE_IDENTITY();
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Phiên bản');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Standard') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'Standard');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Standard');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Phiên bản');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Racing') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'Racing');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Racing');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Phiên bản');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Limited Edition') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'Limited Edition');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Limited Edition');
GO
-- Product: Bộ chén cổ bi đũa Kozi
DECLARE @Pid INT, @Vid INT, @Aid INT, @Valid INT;
SET @Pid = SCOPE_IDENTITY();
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Loại xe');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Wave/Dream') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'Wave/Dream');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Wave/Dream');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Loại xe');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Exciter/Winner') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'Exciter/Winner');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Exciter/Winner');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Loại xe');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Vario/Vision') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'Vario/Vision');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Vario/Vision');
GO
-- Product: Bộ chén cổ bi đũa RGV
DECLARE @Pid INT, @Vid INT, @Aid INT, @Valid INT;
SET @Pid = SCOPE_IDENTITY();
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Loại xe');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Wave/Dream') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'Wave/Dream');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Wave/Dream');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Loại xe');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Exciter/Winner') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'Exciter/Winner');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Exciter/Winner');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Loại xe');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Vario/Vision') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'Vario/Vision');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Vario/Vision');
GO
-- Product: Bộ chén cổ bi đũa RGV
DECLARE @Pid INT, @Vid INT, @Aid INT, @Valid INT;
SET @Pid = SCOPE_IDENTITY();
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Loại xe');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Wave/Dream') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'Wave/Dream');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Wave/Dream');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Loại xe');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Exciter/Winner') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'Exciter/Winner');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Exciter/Winner');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Loại xe');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Vario/Vision') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'Vario/Vision');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Vario/Vision');
GO
-- Product: Bộ chén cổ bi đũa RGV
DECLARE @Pid INT, @Vid INT, @Aid INT, @Valid INT;
SET @Pid = SCOPE_IDENTITY();
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Loại xe');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Wave/Dream') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'Wave/Dream');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Wave/Dream');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Loại xe');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Exciter/Winner') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'Exciter/Winner');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Exciter/Winner');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Loại xe');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Vario/Vision') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'Vario/Vision');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Vario/Vision');
GO
-- Product: Bộ chén cổ bi đũa RGV
DECLARE @Pid INT, @Vid INT, @Aid INT, @Valid INT;
SET @Pid = SCOPE_IDENTITY();
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Loại xe');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Wave/Dream') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'Wave/Dream');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Wave/Dream');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Loại xe');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Exciter/Winner') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'Exciter/Winner');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Exciter/Winner');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Loại xe');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Vario/Vision') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'Vario/Vision');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Vario/Vision');
GO
-- Product: Phụ kiện trang trí Kozi CNC
DECLARE @Pid INT, @Vid INT, @Aid INT, @Valid INT;
SET @Pid = SCOPE_IDENTITY();
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Màu sắc');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Vàng') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'Vàng');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Vàng');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Màu sắc');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Đỏ') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'Đỏ');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Đỏ');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Màu sắc');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Xanh') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'Xanh');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Xanh');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Màu sắc');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Bạc') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'Bạc');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Bạc');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Màu sắc');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Đen') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'Đen');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Đen');
GO
-- Product: Phụ kiện trang trí YSS CNC
DECLARE @Pid INT, @Vid INT, @Aid INT, @Valid INT;
SET @Pid = SCOPE_IDENTITY();
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Màu sắc');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Vàng') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'Vàng');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Vàng');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Màu sắc');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Đỏ') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'Đỏ');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Đỏ');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Màu sắc');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Xanh') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'Xanh');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Xanh');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Màu sắc');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Bạc') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'Bạc');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Bạc');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Màu sắc');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Đen') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'Đen');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Đen');
GO
-- Product: Phụ kiện trang trí Kozi CNC
DECLARE @Pid INT, @Vid INT, @Aid INT, @Valid INT;
SET @Pid = SCOPE_IDENTITY();
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Màu sắc');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Vàng') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'Vàng');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Vàng');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Màu sắc');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Đỏ') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'Đỏ');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Đỏ');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Màu sắc');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Xanh') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'Xanh');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Xanh');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Màu sắc');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Bạc') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'Bạc');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Bạc');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Màu sắc');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Đen') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'Đen');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Đen');
GO
-- Product: Phụ kiện trang trí Kozi CNC
DECLARE @Pid INT, @Vid INT, @Aid INT, @Valid INT;
SET @Pid = SCOPE_IDENTITY();
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Màu sắc');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Vàng') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'Vàng');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Vàng');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Màu sắc');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Đỏ') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'Đỏ');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Đỏ');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Màu sắc');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Xanh') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'Xanh');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Xanh');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Màu sắc');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Bạc') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'Bạc');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Bạc');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Màu sắc');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Đen') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'Đen');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Đen');
GO
-- Product: Phụ kiện trang trí Apido CNC
DECLARE @Pid INT, @Vid INT, @Aid INT, @Valid INT;
SET @Pid = SCOPE_IDENTITY();
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Màu sắc');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Vàng') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'Vàng');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Vàng');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Màu sắc');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Đỏ') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'Đỏ');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Đỏ');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Màu sắc');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Xanh') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'Xanh');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Xanh');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Màu sắc');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Bạc') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'Bạc');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Bạc');
SET @Vid = SCOPE_IDENTITY();
SET @Aid = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Màu sắc');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Đen') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@Aid, N'Đen');
SET @Valid = (SELECT ValueId FROM AttributeValues WHERE AttributeId = @Aid AND Value = N'Đen');
GO
COMMIT TRANSACTION
GO