BEGIN TRANSACTION;
-- 1. XĂ³a sáº¡ch dá»¯ liá»‡u
DELETE FROM ProductVariantAttributeValue;
DELETE FROM ProductImages;
DELETE FROM ProductVariants;
UPDATE Products SET CategoryId = NULL;
DELETE FROM Categories;
DELETE FROM Products;

-- 2. Nháº­p Danh má»¥c
DECLARE @ParentId INT;
INSERT INTO Categories (CategoryName, Slug, Icon, IsActive) VALUES (N'Bá»˜ Ná»’I XE TAY GA', 'bo-noi-xe-tay-ga', 'bx-cycling', 1);
SET @ParentId = SCOPE_IDENTITY();
INSERT INTO Categories (CategoryName, Slug, ParentId, IsActive) VALUES (N'Bá»™ ná»“i trÆ°á»›c', 'bo-noi-truoc', @ParentId, 1);
INSERT INTO Categories (CategoryName, Slug, ParentId, IsActive) VALUES (N'Bá»™ ná»“i sau', 'bo-noi-sau', @ParentId, 1);

-- 3. Nháº­p Sáº£n pháº©m Malossi
DECLARE @CatId INT = (SELECT TOP 1 CategoryId FROM Categories WHERE CategoryName = N'Bá»™ ná»“i trÆ°á»›c');
DECLARE @BrandId INT = (SELECT BrandId FROM Brands WHERE BrandName = N'Malossi');

INSERT INTO Products (ProductName, CategoryId, BrandId, Slug, Description, IsActive, IsFeatured, IsDeleted, CreatedDate)
VALUES (N'Bi ná»“i Vision 2011-2023 Malossi cao cáº¥p (Full size)', @CatId, @BrandId, 'bi-noi-vision-malossi-full-size', N'Bi ná»“i Malossi cao cáº¥p cho Honda Vision', 1, 0, 0, GETDATE());

DECLARE @ProductId INT = SCOPE_IDENTITY();

-- 4. Biáº¿n thá»ƒ
INSERT INTO ProductVariants (ProductId, VariantName, Price, OriginalPrice, SKU, StockQuantity, CreatedDate, CostPrice)
VALUES
(@ProductId, N'9 gram', 140000, 180000, 'MAL-VIS-09G', 50, GETDATE(), 100000),
(@ProductId, N'10 gram', 145000, 185000, 'MAL-VIS-10G', 45, GETDATE(), 105000),
(@ProductId, N'11 gram', 150000, 190000, 'MAL-VIS-11G', 40, GETDATE(), 110000);

-- 5. Thuá»™c tĂ­nh
IF NOT EXISTS (SELECT 1 FROM ProductAttributes WHERE AttributeName = N'Trá»ng lÆ°á»£ng')
    INSERT INTO ProductAttributes (AttributeName) VALUES (N'Trá»ng lÆ°á»£ng');
DECLARE @AttrId INT = (SELECT AttributeId FROM ProductAttributes WHERE AttributeName = N'Trá»ng lÆ°á»£ng');

IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @AttrId AND Value = N'9 gram') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@AttrId, N'9 gram');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @AttrId AND Value = N'10 gram') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@AttrId, N'10 gram');
IF NOT EXISTS (SELECT 1 FROM AttributeValues WHERE AttributeId = @AttrId AND Value = N'11 gram') INSERT INTO AttributeValues (AttributeId, Value) VALUES (@AttrId, N'11 gram');

INSERT INTO ProductVariantAttributeValue (ProductVariantId, ValueId)
SELECT pv.ProductVariantId, av.ValueId
FROM ProductVariants pv
JOIN AttributeValues av ON pv.VariantName = av.Value
WHERE pv.ProductId = @ProductId AND av.AttributeId = @AttrId;

-- 6. áº¢nh
INSERT INTO ProductImages (ProductId, ImageUrl, IsPrimary, DisplayOrder)
VALUES (@ProductId, '/assets/img/products/malossi-roller-main.jpg', 1, 0);

COMMIT;
