-- SCRIPT CẬP NHẬT DANH MỤC MỚI CHO MOTOSHOP
-- Cảnh báo: Script này sẽ xóa các danh mục cũ. Nếu có sản phẩm đang liên kết, hãy cập nhật ProductId trước.
USE MotorcycleShopDB;
GO
BEGIN TRANSACTION;

-- 1. Xóa dữ liệu cũ (Xóa bảng con trước nếu cần, hoặc set null Product.CategoryId)
UPDATE Products SET CategoryId = NULL;
DELETE FROM Categories;

-- Khai báo biến lưu ID cha
DECLARE @ParentId INT;

-- 1. BỘ NỒI XE TAY GA
INSERT INTO Categories (CategoryName, Slug, Icon, IsActive) VALUES (N'BỘ NỒI XE TAY GA', 'bo-noi-xe-tay-ga', 'bx-cycling', 1);
SET @ParentId = SCOPE_IDENTITY();
INSERT INTO Categories (CategoryName, Slug, ParentId, IsActive) VALUES (N'Bộ nồi trước', 'bo-noi-truoc', @ParentId, 1);
INSERT INTO Categories (CategoryName, Slug, ParentId, IsActive) VALUES (N'Bộ nồi sau', 'bo-noi-sau', @ParentId, 1);

-- 2. NHÔNG - SÊN - DĨA
SET @ParentId = SCOPE_IDENTITY();

-- 3. CĂM XE MÁY
SET @ParentId = SCOPE_IDENTITY();

-- 4. MÁY SẠC - BÌNH ĐIỆN (ẮC QUY)
SET @ParentId = SCOPE_IDENTITY();

-- 5. LỌC GIÓ
SET @ParentId = SCOPE_IDENTITY();

-- 6. PHỤ GIA - NHỚT
SET @ParentId = SCOPE_IDENTITY();

-- 7. BỐ THẮNG
SET @ParentId = SCOPE_IDENTITY();

-- 8. VỎ XE - NIỀNG XE
SET @ParentId = SCOPE_IDENTITY();

-- 9. DÂY CÁP
SET @ParentId = SCOPE_IDENTITY();

-- 10. PHÂN KHỐI LỚN
SET @ParentId = SCOPE_IDENTITY();

-- 11. CHÉN CỔ

-- 12. PHỤ KIỆN KHÁC

COMMIT;
SELECT * FROM Categories;
